.App {
  margin: 2em;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  text-align: center;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.actions {
  display: flex;
  justify-content: space-around;
}

button {
  font-family: monospace;
  font-size: large;
  color: azure;
  padding: 15px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

span {
  margin: 3vw;
  font-size: 5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
