name: Compressed Size

on: [pull_request]

jobs:
  compressed_size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - uses: preactjs/compressed-size-action@v2
        with:
          pattern: './dist/**/*.{js,mjs}'
