name: Test Multiple Builds

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  test_matrix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build: [cjs, umd] # [cjs, esm, umd, system]
        env: [development, production]
        devtools-skip:
          - CI-MATRIX-NOSKIP
        include:
          - devtools-skip: CI-MATRIX-[2345]
            build: umd
          - devtools-skip: CI-MATRIX-[1345]
            build: umd
          - devtools-skip: CI-MATRIX-[1245]
            build: umd
          - devtools-skip: CI-MATRIX-[1235]
            build: umd
          - devtools-skip: CI-MATRIX-[1234]
            build: umd
        exclude:
          - devtools-skip: CI-MATRIX-NOSKIP
            build: umd
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: yarn
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - run: yarn install --frozen-lockfile --check-files
      - run: yarn build
      - name: Use React 17 for production test
        if: ${{ matrix.env == 'production' }}
        run: |
          yarn add -D react@17.0.2 react-dom@17.0.2 @testing-library/react@12.1.4
      - name: Patch for DEV-ONLY
        if: ${{ matrix.env == 'development' }}
        run: |
          sed -i~ "s/it[.a-zA-Z]*('\[DEV-ONLY\]/it('/" tests/*.tsx
          sed -i~ "s/it[.a-zA-Z]*('\[PRD-ONLY\]/it.skip('/" tests/*.tsx
      - name: Patch for PRD-ONLY
        if: ${{ matrix.env == 'production' }}
        run: |
          sed -i~ "s/it[.a-zA-Z]*('\[PRD-ONLY\]/it('/" tests/*.tsx
          sed -i~ "s/it[.a-zA-Z]*('\[DEV-ONLY\]/it.skip('/" tests/*.tsx
      - name: Patch for CJS
        if: ${{ matrix.build == 'cjs' }}
        run: |
          sed -i~ "s/<rootDir>\/src\(.*\)\.ts/<rootDir>\/dist\1.js/" package.json
      - name: Patch for ESM
        if: ${{ matrix.build == 'esm' }}
        run: |
          sed -i~ "s/<rootDir>\/src\(.*\)\.ts/<rootDir>\/dist\/esm\1.js" package.json
          sed -i~ "1s/^/import.meta.env=import.meta.env||{};import.meta.env.MODE='${NODE_ENV}';/" tests/*.tsx
        env:
          NODE_ENV: ${{ matrix.env }}
      - name: Patch for UMD (DEV)
        if: ${{ matrix.build == 'umd' && matrix.env == 'development' }}
        run: |
          sed -i~ "s/<rootDir>\/src\(.*\)\.ts/<rootDir>\/dist\/umd\1.development.js/" package.json
          sed -i~ "s/it('\[${DEVTOOLS_SKIP}\]/it.skip('/" tests/devtools.test.tsx
        env:
          DEVTOOLS_SKIP: ${{ matrix.devtools-skip }}
      - name: Patch for UMD (PRD)
        if: ${{ matrix.build == 'umd' && matrix.env == 'production' }}
        run: |
          sed -i~ "s/<rootDir>\/src\(.*\)\.ts/<rootDir>\/dist\/umd\1.production.js/" package.json
          sed -i~ "s/it('\[${DEVTOOLS_SKIP}\]/it.skip('/" tests/devtools.test.tsx
        env:
          DEVTOOLS_SKIP: ${{ matrix.devtools-skip }}
      - name: Patch for SystemJS
        if: ${{ matrix.build == 'system' }}
        run: |
          sed -i~ "s/<rootDir>\/src\(.*\)\.ts/<rootDir>\/dist\/system\1.${NODE_ENV}.js/" package.json
        env:
          NODE_ENV: ${{ matrix.env }}
      - name: Test ${{ matrix.build }} ${{ matrix.env }}
        run: |
          yarn test:ci
        env:
          NODE_ENV: ${{ matrix.env }}
