name: Test Multiple Versions

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  test_multiple_versions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        react:
          - 18.0.0
          - 18.1.0
          - 18.2.0
          - 18.3.1
          - 19.0.0
          - 19.1.0
          - 19.2.0
          - 19.3.0-canary-da641178-20260129
          - 0.0.0-experimental-da641178-20260129
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install
      - name: Test ${{ matrix.react }} ${{ matrix.devtools-skip }}
        run: |
          pnpm add -D react@${{ matrix.react }} react-dom@${{ matrix.react }}
          pnpm run test:spec
